/Bango/obj

/Bango.Base/obj

/Bango.Rbac/obj

/Bango.Report/obj

/Dapper/obj

/Dapper.Rainbow/obj

/packages

/Test/bin
/Test/obj

/Bango/bin

/Bango.Base/bin

/Bango.Rbac/bin

/Bango.Report/bin

/Dapper/bin

/Dapper.Rainbow/bin
/.vs
